<div class="container mt-4 t01">
  <h1>Angular 16</h1>
  <h2>T01 Programmation d’un filtre de recherche</h2>
  <div class="note01">
    <p>Paquet NPM à installer :</p>
    <pre>npm install bootstrap</pre>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Saisir le nom d’une ville du Québec.</p>
      <div class="form-group">
        <label for="search-text">Recherche</label>
        <input type="text" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText" placeholder="Saisir le nom d’une ville du Québec" autofocus>
      </div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let x of cities | transform01: searchText" appHighlight01 [searchedWord]="searchText" [content]="x" [classToApply]="'highlight08'" [setTitle]="'true'">
          {{x}}
        </li>
      </ul>
    </div>
    <div class="col-md-6 code-preview">
      <h3>t01.component.html</h3>
      <iframe src="assets/code-preview/t01/html.txt"></iframe>
      <h3>t01.component.ts</h3>
      <iframe src="assets/code-preview/t01/typescript.txt"></iframe>
      <h3>transform01.pipe.ts</h3>
      <iframe src="assets/code-preview/transform01/typescript.txt"></iframe>
      <h3>highlight01.directive.ts</h3>
      <iframe src="assets/code-preview/highlight01/typescript.txt"></iframe>
    </div>
  </div>
</div>