<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/t01" routerLinkActive="active">T01</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/t02" routerLinkActive="active">T02</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
