<div class="container mt-4">
  <h1>Angular 20</h1>
  <h2>T02 Programmation d’un filtre de recherche</h2>
  <div class="row">
    <div class="col-md-7">
      <label for="search" class="form-label">Recherche</label>
      <input type="text" id="search" class="form-control" placeholder="Saisir le nom d’un utilisateur" [(ngModel)]="searchText" #searchbar>
      <div class="table-responsive-lg mt-3">
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th scope="col">Courriel</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of userRecords | transform02: searchText">
              <td>{{x.id}}</td>
              <td>{{x.name}}</td>
              <td>{{x.username}}</td>
              <td>{{x.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-5 code-preview">
      <h3>t02.component.html</h3>
      <iframe src="assets/code-preview/t02/html.txt"></iframe>
      <h3>t02.component.ts</h3>
      <iframe src="assets/code-preview/t02/typescript.txt"></iframe>
      <h3>transform02.pipe.ts</h3>
      <iframe src="assets/code-preview/transform02/typescript.txt"></iframe>
    </div>
  </div>
</div>
